*{
    font-family:微軟正黑體;  
  }


  
  body{
    background-color: rgb(107, 107, 107);
    overflow: hidden;
    //background-image: url( /cat.gif);
  }
  
  #username, #password, h3, #fullname, #comfirm_password,#username2, #password2{
    width: 200px;
    height: 20px;
    margin: 10px;
    color: #0dff00;

    margin-left: 44%;
  }
  
  h5{
    margin: 20px;
    color: #22f517;
    margin-left: 44%;
  }
  
  h5:hover{
    color: #076b02;
  }
  
  #container1, #container2{
    
    //margin: 50px;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-top: 10px solid #0dff00;
    // box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    //text-align:center;  
  }
  
  .name{
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center; 
  }
  
  .submit{
    color: rgb(0, 0, 0);  
    background: #0dff00;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    margin-left: 44%;
  }
  
  .submit:hover{
    background: #067a00;
  }
  
  #container2{
    visibility: hidden;   /*剛開始消失*/
    height: 350px;
  }
  
  
  #copyright{
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
  }
  
  input{
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
  }

  .footer{
    width: 50%;
    height: 50%;

  }

  hr{
    height: 2px;
    border: #0dff00;
  }


